#amanda {
   background-size: cover;
   text-align: center;
   background-image: url("../img/backgrounds/landing.jpg");
   height:400px;
 }

.breakfast {
  background-image:("img/foodtop/breakfast.jpg")
  height:50px
}
.morning {
  position: absolute;
  top:30%
  left:25%
  color:white;
  font-size: 30px
  font-family:cursive;
}
.doc {background color:grey;

  height:100px
}
