#amanda {
   background-size: cover;
   text-align: center;
   background-image: url("../img/backgrounds/landing.jpg");
   height:100px;
 }
 #logo{
   text-align: center;
   margin-top: -173px;
   margin-left: 549px;
 }
